[Unit]
Description=gunicorn daemon
After=network.target
# https://docs.gunicorn.org/en/stable/deploy.html#systemd

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/fisher
ExecStart=/usr/local/python3/bin/gunicorn --preload \
	--worker-class gevent \
    --bind 0.0.0.0:8088 \
    --workers 2 \
    --pid fisher.pid \
    --reload \
    --access-logfile access.log \
    --error-logfile error.log \
    --log-level debug \
    fisher:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target